<body>
  <form method="POST" action="" enctype="multipart/form-data">
    <div class="content">
      <table class="centered highlight">
      <h2 class="mb-5"><center>Понижающие показатели</center></h2>
        <thead>
          <tr>
            <th scope="col"><center>Показатели</center></th>
            <th scope="col"><center>Загрузить файлы</center></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td>Срыв занятий по дисциплинам кафедры</td>
            <td><center><fieldset id="1" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Опоздание на занятие</td>
            <td><center><fieldset id="2" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Уменьшение контингента студентов обучающихся за счет бюджета РФ</td>  
            <td><center><fieldset id="3" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Невыполнение студентами требований Интернет-экзамена по дисциплине, прочитанной преподавателем, менее допустимого предела</td>
            <td><center><fieldset id="4" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>За ненадлежащее обеспечение воспитательного процесса</td>                 
            <td><center><fieldset id="5" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Замечание, оформленное приказом ректора</td>                                  
            <td><center><fieldset id="6" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Выговор, оформленный приказом ректора</td>                  
            <td><center><fieldset id="7" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Предоставление недостоверной информации</td>                                  
            <td><center><fieldset id="8" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
          <tr scope="row">
            <td>Несвоевременное выполнение решений ректората, установленных сроков сдачи отчетности</td>                  
            <td><center><fieldset id="9" align = "right"><p><input type="file" name="files4[]"></p></fieldset></center></td>
          </tr>
        </tbody>
      </table>
      <center><button name="lowballUploadBtn" type='submit' action="" class="floating-button waves-effect waves-light btn">Отправить</button></center>
    </div>
  </form>
</body>