<body>
    <body>
		<div id="tableWrap" class="construction content">
			<table>
				<tr>
					<td><h4>Фамилия</h4></td>
					<td><h4>Имя</h4></td>
					<td><h4>Отчество</h4></td>
					<td><h4>Должность</h4></td>
					<td><h4>Кафедра</h4></td>
					<td><h4>Количество баллов</h4></td>
				</tr>
				<tr>
					<td>Фамилия</td>
					<td>Имя</td>
					<td>Отчество</td>
					<td>Должность</td>
					<td>Кафедра</td>
					<td>Кол-во баллов</td>
				</tr>
			    
			</table>
        <center><h3>По вашим параметрам результатов нет</h3></center>
		<center><button class="floating-button" name="HtmlToExcel" onclick="HtmlToExcel()">Скачать</button></center>

		</div> 
    {{!--
    <center>
        <h3>Сводная таблица</h3>
        <form action = "/tablegeneration" method="Get">
            <div>
            <label>Выберите кафедру</label>
            <span class="myarrow"></span>
            <select name="department">
                <option>По всем кафедрам</option>
                <option>Priklad Mat</option>
                <option>Priklad Geo</option>
              </select>
            </div>
            <div>
            <label>Выберите должность</label>
            <span class="myarrow"></span>
            <select name="position">
                <option>По всем должностям</option>
                <option>Prepodavatel</option>
                <option>Dekan</option>
                <option>Direktor</option>
                <option>ZavKafedri</option>
            </select>
        </div>
            <button class="floating-button">Создать</button>
        </form>
    </center> --}}
</body>