<body>
    <div class="content">
        <h3>Создание сводной таблицы</h3>
        <form id="createForm">
            <div class="input-field">
                <section>
                    <label for="department">Выберите кафедру</label>
                    <select name="department">
                        <option value="">По всем кафедрам</option>
                        {{#each departmentList}}
                        <option value="{{this.department}}">{{this.department}}</option>
                        {{/each}}
                    </select>
                    
                </section>
            </div>
            <div class="input-field">
                <section>
                    <label for="position">Выберите должность</label>
                    <select name="position">
                        <option value="">По всем должностям</option>
                        {{#each positionList}}
                        <option value="{{this.position}}">{{this.position}}</option>
                        {{/each}}
                    </select>
                </section>
            </div>
            <div class="">
                <button class="waves-effect waves-light btn" type="button" onclick="createTable()">Создать</button>
            </div>
        </form>
    </div>
    <div id="table-response" class="content"></div>
</body>